.title {
    color: #9a9ea1;
    font-size: 3rem;
}

.me {
    color: #6d2ae2;
    font-family: 'Caveat', cursive;
    transform: rotate(-5deg);
}

.icon {
    transform: rotate(50deg);
}

.content,
.mainContent {
    color: #dee2e6;
    margin-bottom: 0rem !important;
}

.mainContent {
    backdrop-filter: blur(4px);
}

.main {
    font-family: 'Caveat', cursive;
    font-weight: bold;
}

.tag {
    color: #dee2e6;
    font-family: 'Caveat', cursive;
}

/* .downloadBtn {
    --border-radius: 0px;
    --border-width: 3px;
    text-decoration: none;
    appearance: none;
    position: relative;
    padding: 10px;
    border: 0;
    background-color: none;
    font-weight: 500;
    color: #dee2e6;
    z-index: 2;
}

.downloadBtn::after {
    --m-i: linear-gradient(#000, #000);
    --m-o: content-box, padding-box;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: var(--border-width);
    border-radius: var(--border-radius);
    background-image: conic-gradient(#488cfb,
            #29dbbc,
            #ddf505,
            #ff9f0e,
            #e440bb,
            #655adc,
            #488cfb);
    -webkit-mask-image: var(--m-i), var(--m-i);
    mask-image: var(--m-i), var(--m-i);
    -webkit-mask-origin: var(--m-o);
    mask-origin: var(--m-o);
    -webkit-mask-clip: var(--m-o);
    mask-composite: exclude;
    -webkit-mask-composite: destination-out;
    filter: hue-rotate(0);
    animation: rotate-hue linear 500ms infinite;
    animation-play-state: paused;
}

.downloadBtn::after {
    animation-play-state: running;
}

@keyframes rotate-hue {
    to {
        filter: hue-rotate(1turn);
    }
}

.downloadBtn,
.downloadBtn::after {
    box-sizing: border-box;
}

.downloadBtn:active {
    --border-width: 5px;
}

.downloadBtn:hover {
    color: #dee2e6;
} */

.downloadBtn {
    --width: 200px;
    --timing: 2s;
    border: 0;
    width: var(--width);
    padding-block: 0.8em;
    color: #dee2e6;
    font-weight: bold;
    font-size: 1em;
    background: linear-gradient(to right top, #6610f2, #6d2ae2, #a020f0, #b24bf3);
    transition: all 0.2s;
    border-radius: 3px;
}

.downloadBtn:hover {
    background-image: linear-gradient(to right, rgb(250, 82, 82), rgb(250, 82, 82) 16.65%, rgb(190, 75, 219) 16.65%, rgb(190, 75, 219) 33.3%, rgb(76, 110, 245) 33.3%, rgb(76, 110, 245) 49.95%, rgb(64, 192, 87) 49.95%, rgb(64, 192, 87) 66.6%, rgb(250, 176, 5) 66.6%, rgb(250, 176, 5) 83.25%, rgb(253, 126, 20) 83.25%, rgb(253, 126, 20) 100%, rgb(250, 82, 82) 100%);
    animation: var(--timing) linear dance6123 infinite;
    transform: scale(1.1) translateY(-1px);
}

@keyframes dance6123 {
    to {
        background-position: var(--width);
    }
}

@media (max-width: 991.5px) and (min-width: 767.5px) {
    .img {
        width: 225px;
    }
}

@media (max-width: 991.5px) {
    .container {
        text-align: center;
    }

    .row {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .mainContent {
        margin-top: 2rem !important;
    }

    .tag {
        display: none;
    }
}

@media (max-width: 449.5px) {
    .img {
        width: 200px;
    }
}

@media (max-width: 280.5px) {
    .downloadBtn {
        width: auto;
    }
}