.left {
    background-color: #0e1313;
    height: calc(100vh - 59px);
}

.right {
    background-color: #dee2e6;
    height: calc(100vh - 59px);
}

.card {
    background: none;
    border-radius: 0px;
    border: 2px solid #dee2e6;
    backdrop-filter: blur(4px);
    z-index: 3;
}

.cardTitle {
    color: #9a9ea1;
    font-size: calc(2rem + 5vw);
}

.cardTitle::before {
    content: "<>";
    position: absolute;
    color: #dee2e6;
    font-size: large;
    font-family: 'Caveat', cursive;
}

.span {
    color: #dee2e6;
    font-size: large;
    font-family: 'Caveat', cursive;
}

.cardText {
    color: #dee2e6;
}

.cardText span {
    font-family: 'Caveat', cursive;
    font-size: 1.2rem;
    font-weight: bold;
    border-bottom: 3px solid #6d2ae2;
}

.downloadBtn {
    color: #dee2e6;
    border: 2px solid #dee2e6;
    text-decoration: none;
    padding: 10px;
}

.downloadBtn:hover {
    color: #dee2e6;
}

@media (max-width: 767.5px) {
    .row {
        flex-direction: column-reverse;
    }

    .img {
        display: none;
    }
}