.title {
    color: #9a9ea1;
    font-size: 3rem;
}

.me {
    color: #6d2ae2;
    font-family: 'Caveat', cursive;
    transform: rotate(-5deg);
}

.icon {
    transform: rotate(45deg);
}

.img {
    transform: rotate(-10deg);
}

.content,
.mainContent {
    color: #dee2e6;
    margin-bottom: 0rem !important;
}

.mainContent {
    backdrop-filter: blur(4px);
}

.main {
    font-family: 'Caveat', cursive;
    font-weight: bold;
    /* border-bottom: 3px solid #6d2ae2; */
}

.tag {
    color: #dee2e6;
    font-family: 'Caveat', cursive;
}

.downloadBtn {
    color: #dee2e6;
    border: 2px solid #dee2e6;
    text-decoration: none;
    padding: 10px;
}

.downloadBtn:hover {
    color: #dee2e6;
}

@media (max-width: 767.5px) {
    .container {
        text-align: center;
    }

    .mainContent {
        margin-top: 2rem !important;
    }

    .tag {
        display: none;
    }
}