.icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 1.5rem;
    z-index: 99;
}

.socialIcon {
    color: #6d2ae2;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.socialIcon:hover {
    transform: scale(1.3);
}

.sayHi {
    position: fixed;
    bottom: 1rem;
    right: 2rem;
    font-weight: bold;
    align-items: center;
    text-decoration: none;
    z-index: 99;
}

.sayHi .s {
    color: #4285f4;
}

.sayHi .a {
    color: #db4437;
}

.sayHi .y {
    color: #f4b400;
}

.sayHi .hi {
    color: #0f9d58;
}

@media (max-width: 900px) {
    .sayHi {
        transform: rotate(90deg) !important;
        bottom: 3rem;
        right: -1.5rem;
    }
}

@media (max-width: 580px) {
    .icons {
        left: 0.5rem;
    }
}