.navbar {
    background-color: #0e1313 !important;
}

.navLink {
    color: #dee2e6 !important;
}

.navbarToggler {
    border: none !important;
    color: #dee2e6 !important;
    font-size: 30px !important;
}

.navbarToggler:focus {
    outline: 0 !important;
    box-shadow: none !important;
    text-decoration: none !important;
}

.navbarBrand {
    color: #dee2e6 !important;
}

.img {
    border: 1px solid #6d2ae2;
    transform: translateY(-2.3px);
    cursor: pointer;
    animation: heartBeat 1s linear infinite;
}

.navbarBrand span {
    background-image: linear-gradient(to right top, #6610f2, #6d2ae2, #a020f0, #b24bf3) !important;
    background-clip: text !important;
    -moz-background-clip: text !important;
    -webkit-background-clip: text !important;
    -moz-text-fill-color: transparent !important;
    -webkit-text-fill-color: transparent !important;
}

.btn {
    background-color: #6d2ae2 !important;
    border-radius: 0px !important;
    border: none !important;
}

/* .dropdownMenu {
    background-color: #0e1313 !important;
    text-align: center !important;
    border-color: #dee2e6 !important;
}

.dropdownItem {
    color: #dee2e6 !important;
}

.dropdownItem:hover,
.dropdownItem:focus,
.dropdownItem:active {
    color: #0e1313 !important;
    background-color: #dee2e6 !important;
} */

@keyframes heartBeat {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@media (max-width: 991.5px) {
    .navItem:nth-child(1) {
        border-top: 1px solid #dee2e6 !important;
    }

    .navLink {
        margin-top: 1rem !important;
        width: max-content !important;
        justify-content: center !important;
        margin: auto !important;
    }

    /* .dropdownMenu {
        max-width: max-content;
        justify-content: center;
        margin: auto;
    } */
}

@media (max-width: 399.5px) {
    .name {
        display: none;
    }

    .navbarBrand {
        margin-right: 0.5rem !important;
    }
}

@media (max-width: 294px) {
    .navbarToggler {
        justify-content: end !important;
        margin-left: auto !important;
    }
}