/* .sectionTitle {
    position: relative;
    padding: 30px 0;
    text-align: center;
}

.sectionTitle h2 {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    font-family: 'Libre Baskerville', serif;
    margin-bottom: 20px;
    padding-bottom: 0;
    background-image: linear-gradient(to right top, #6610f2, #6d2ae2, #a020f0, #b24bf3) !important;
    background-clip: text !important;
    -moz-background-clip: text !important;
    -webkit-background-clip: text !important;
    -moz-text-fill-color: transparent !important;
    -webkit-text-fill-color: transparent !important;
    z-index: 2;
}

.sectionTitle span {
    position: absolute;
    top: 30px;
    color: #0e1313;
    left: 0;
    right: 0;
    z-index: 1;
    font-weight: 700;
    font-size: 52px;
    font-family: 'Libre Baskerville', serif;
    line-height: 0;
} */

.line {
    border: 2px solid #fac99c;
    background-color: #fac99c;
}

.skills .progress {
    height: 60px;
    display: block;
    background: none;
}

.skills .progress .skill {
    padding: 10px 0;
    display: block;
    font-weight: 900;
    font-family: "Poppins", sans-serif;
    color: #fff;
    font-size: 15px;
}

.skills .progress .skill .val {
    float: right;
    font-style: normal;
    padding-top: 7.5px;
}

.skills .progress-bar-wrap {
    background: #bbbbbb;
    border-radius: 10px;
}

.skills .progress-bar {
    width: 1px;
    border-radius: 10px;
    height: 5px;
    background: linear-gradient(135deg, #FCCF31 10%, #F55555 100%);
}