/* .dropdown-item.active,
.dropdown-item:active {
    color: #0e1313 !important;
    background-color: #dee2e6 !important;
    border-bottom: none !important;
} */

input,
textarea {
  text-decoration: none !important;
  outline: 0 !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  background: none !important;
  color: #dee2e6 !important;
}

select {
  text-decoration: none !important;
  outline: 0 !important;
  box-shadow: none !important;
  border-radius: 0px !important;
}

input::placeholder,
textarea::placeholder {
  color: #dee2e6 !important;
}

.btn,
.btn-close {
  text-decoration: none !important;
  outline: 0 !important;
  box-shadow: none !important;
}

input:focus,
textarea:focus,
select:focus,
.page-link:focus {
  border-color: #6d2ae2 !important;
  text-decoration: none !important;
  outline: 0 !important;
  box-shadow: none !important;
}

.page-link {
  color: #0e1313 !important;
}

.active>.page-link {
  background-color: #6d2ae2 !important;
  border-color: #6d2ae2 !important;
  border-bottom: none !important;
  color: #dee2e6 !important;
}

.page-item.active {
  background-color: #6d2ae2 !important;
  border-color: #6d2ae2 !important;
  border-bottom: none !important;
  color: #dee2e6 !important;
}

.css-1elwnq4-MuiPaper-root-MuiAccordion-root:first-of-type {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

@media (max-width: 600px) {
  .animated-link {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .animated-link-heading {
    font-size: 1.5rem !important;
  }

  .animated-link-topics {
    justify-content: center;
  }
}

.skill-avatar {
  width: 50px !important;
  height: 50px !important;
  background: linear-gradient(to right top, #6610f2, #6d2ae2, #a020f0, #b24bf3);
  color: #dee2e6 !important;
}

.skill-avatar svg {
  font-size: 30px !important;
}

/* .marquee {
  white-space: nowrap;
  animation: marquee 10s linear infinite;
}

.marquee-box {
  background: linear-gradient(to right top, #6610f2, #6d2ae2, #a020f0, #b24bf3);
  border-radius: 4px;
  padding: 4px 8px;
  color: #dee2e6;
  text-align: center;
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-50%);
  }
} */